# Editorconfig for text editors
.editorconfig

# Dependency directories
node_modules/

# Build folder for Next.js
.next

# Dependency lock files=
*.lock

# Example Folder
examples/

# README and Assets
README.md
assets/
